<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <title>Knowt2Blooket</title>
    </head>    
    <body>
        <div class="banner">
            <img src="logo-left.png" alt="Left Logo" class="banner-logo">
            <span class="banner-text">Knowt2Blooket</span>
            <img src="logo-right.png" alt="Right Logo" class="banner-logo">
        </div>
    </body>
</html>